# Directories
external
build
bin
lib
CMakeFiles
install_manifest.txt
svg-cpp-plot-prefix/
CmakeCache.txt
CmakeSettings.json

Makefile
cmake_install.cmake

#images:
*.svg
*.png

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
